
html
{
  scroll-behavior: smooth;
}



*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)) ,url(images\ again/mayoor-image.png);
    background-size: cover;
    background-position: center;
}


.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width: 250px;
    height: 9vh;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 55px;
    margin-top: 80px;
}

.content p{
    font-size: 19px;
    margin: 20px auto;
    font-weight: 200;
    line-height: 25px;
}


.scroll-down-arrow {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .scroll-down-arrow span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fff;
    animation: bounce 1.2s infinite ease-in-out;
  }
  
  .scroll-down-arrow span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .scroll-down-arrow span:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes bounce {
    0%, 80%, 100% {
      transform: scale(1);
    }
    40% {
      transform: scale(1.4);
    }
  }
          
.fadeIn
{
    opacity: 0;
    transform: translate3d(-50px, 0, 0); /* ADDED - start x position as -50px */
    cursor: pointer;
    transition: 1s all ease-in-out;
}

.fadeIn.show {
    opacity: 1;
    transform: translate3d(0, 0, 0); 
}

.fadeIn-2
{
    opacity: 0;
    transform: translate3d(-50px, 0, 0); /* ADDED - start x position as -50px */
    cursor: pointer;
    transition: 2s all ease-in-out;
}

.fadeIn-2.show
{
    opacity: 1;
    transform: translate3d(0, 0, 0); 
}
