
html
{
  scroll-behavior: smooth;
}

body
{
  background-color:rgba(0,0,0,0.9);
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    grid-template-rows: 10;
    grid-template-columns: 2;

}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)) ,url(images\ again/mayoor-image.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width: 250px;
    height: 9vh;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 19px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 55px;
    margin-top: 80px;
}

.content p{
    font-size: 19px;
    margin: 20px auto;
    font-weight: 200;
    line-height: 25px;
}



.fadeIn
{
    opacity: 0;
    transform: translate3d(0, -36px, 0); /* ADDED - start x position as -50px */
    cursor: pointer;
    transition: 1s all ease-in-out;
}

.fadeIn.show {
    opacity: 1;
    transform: translate3d(0, 0, 0); 
}

.fadeIn-2
{
    opacity: 0;
    transform: translate3d(0, -36px, 0); /* ADDED - start x position as -50px */
    cursor: pointer;
    transition: 2s all ease-in-out;
}

.fadeIn-2.show
{
    opacity: 1;
    transform: translate3d(0, 0, 0); 
}

section::before
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0,0 , .75), #0f0d24);
  z-index: 1000;
}

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  left: 49%;
  bottom: 110px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

#page-2
{
  color: #fff;
  background-color: rgba(15, 13, 36);
}

.parallax {
  position: relative;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax:nth-child(odd) {
  background-image:url(images\ again/mayoor-image.png) ;
}

.parallax:nth-child(even) {
  background-image: url(images\ again/mayoor-image.png);
}

.monitor
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card
{
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.403);
  transition: 0.5s;
   width: 15%;
  background-color: white;
  border-radius: 5px 5px 5px 5px ;
}

.card img
{
  border-radius: 5px 5px 0 0;
}

.card:hover
{
  box-shadow: 0 8px 16px 0 rgba(182, 157, 157, 0.403);
}

.container
{
  padding: 2px 16px;
  color: black;
}

.content-sites
{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}

.card
{
  grid-column: 1 3;
}