
html
{
  scroll-behavior: smooth;
}



*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)) ,url(images\ again/mayoor-image.png);
    background-size: cover;
    background-position: center;
}


.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width: 250px;
    height: 9vh;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 19px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 55px;
    margin-top: 80px;
}

.content p{
    font-size: 19px;
    margin: 20px auto;
    font-weight: 200;
    line-height: 25px;
}

button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 30px 10px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
     
span{
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span{
  width: 100%;
}

button:hover{
  border: none;
}

.fadeIn
{
    opacity: 0;
    transform: translate3d(0, -36px, 0); /* ADDED - start x position as -50px */
    cursor: pointer;
    transition: 1s all ease-in-out;
}

.fadeIn.show {
    opacity: 1;
    transform: translate3d(0, 0, 0); 
}

.fadeIn-2
{
    opacity: 0;
    transform: translate3d(0, -36px, 0); /* ADDED - start x position as -50px */
    cursor: pointer;
    transition: 2s all ease-in-out;
}

.fadeIn-2.show
{
    opacity: 1;
    transform: translate3d(0, 0, 0); 
}

section::before
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0,0 , .75), #0f0d24);
  z-index: 1000;
}

#page-2
{
  color: #fff;
  background-color: rgba(15, 13, 36);
}

.parallax {
  position: relative;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax:nth-child(odd) {
  background-image:url(images\ again/mayoor-image.png) ;
}

.parallax:nth-child(even) {
  background-image: url(images\ again/mayoor-image.png);
}
